extends layout

block content

  h1= "CDGs CDC TV"
  .slds-grid.slds-wrap
    nav.slds-col.slds-size_1-of-1= "Header"
    main.slds-col.slds-size_1-of-2= "Image"
    aside.slds-col.slds-size_1-of-2= "Tab"
    nav.slds-col.slds-size_1-of-1= "Card"
  ul#blerp
  script(src="/javascripts/base.js")